<?xml version="1.0" encoding="UTF-8"?>
<config>
    <hdSearchTxt>Suchbegriff eingeben ...</hdSearchTxt>
    <hdSearchBtn>Suchen</hdSearchBtn>
    <sbContent>Inhalt</sbContent>
    <sbIndex>Index</sbIndex>
    <ftLicense>Lizenz:</ftLicense>
    <ftExtra> | Übersetzung: Harald Bootz</ftExtra>
</config>