html, body, nav ul, #top h1 {
	margin: 0;
	padding: 0;
}
html, body { height: 100%; }
html {
	font-family: Arial, sans-serif;
	color: #444;
	background-color: #fcfcfc;
}
img { border: none; }
img::selection { background: transparent; }
img::-moz-selection { background: transparent; }
a {
	color: #15c;
	text-decoration: none;
}
a:hover { text-decoration: underline; }
pre, code, kbd {
	font: .9em Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Lucida Console", monospace;
	line-height: 2;
}
pre em, code em {
	color: #800;
	font-style: normal;
}
::selection {
	color: #fff;
	background: #6c7a95;
}
::-moz-selection {
	color: #fff;
	background: #6c7a95;
}
.clear { clear: both; }
#top {
	padding-top: 10px;
	background: #fff;
}
#top h1 {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 3em;
	min-height: 75px;
}
#top h1 a { color: #999; }
#forkme { display: none; }
#forkme img {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
}
nav {
	font-family: "Open Sans", Arial, sans-serif;
	background: #6c7a95;
	background: -moz-linear-gradient(top, #6c7a95 0%, #515b70 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6c7a95), color-stop(100%, #515b70));
	background: -webkit-linear-gradient(top, #6c7a95 0%, #515b70 100%);
	background: -o-linear-gradient(top, #6c7a95 0%, #515b70 100%);
	background: -ms-linear-gradient(top, #6c7a95 0%, #515b70 100%);
	background: linear-gradient(top, #6c7a95 0%, #515b70 100%);
	font-weight: 400;
	line-height: 3;
	font-size: .95em;
	border-bottom: thin solid #fff;
}
nav ul li {
	display: inline;
	padding-right: 1.5em;
}
nav a {
	color: #fff;
	text-decoration: none;
}
nav a:hover { text-decoration: underline; }
#download-container { float: right; }
.download {
	font: 600 .85em "Open Sans", Arial, sans-serif;
	display: inline-block;
	background: #f68c06;
	border: solid thin #f68c06;
	text-shadow: rgba(0, 0, 0, .2) 0 -1px 0;
	color: #fff !important;
	border-radius: .2em;
	margin-left: 1em;
	padding: .45em 1em;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	background-image: -moz-linear-gradient(top, rgba(226, 226, 226, .1) 0%, rgba(34, 34, 34, .1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(226, 226, 226, .1)), color-stop(100%, rgba(34, 34, 34, .1)));
	background-image: -webkit-linear-gradient(top, rgba(226, 226, 226, .1) 0%, rgba(34, 34, 34, .1) 100%);
	background-image: -o-linear-gradient(top, rgba(226, 226, 226, .1) 0%, rgba(34, 34, 34, .1) 100%);
	background-image: -ms-linear-gradient(top, rgba(226, 226, 226, .1) 0%, rgba(34, 34, 34, .1) 100%);
	background-image: linear-gradient(top, rgba(226, 226, 226, .1) 0%, rgba(34, 34, 34, .1) 100%);
}
.download:hover {
	background-image: -moz-linear-gradient(top, rgba(226, 226, 226, .14) 0%, rgba(34, 34, 34, .2) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(226, 226, 226, .14)), color-stop(100%, rgba(34, 34, 34, .2)));
	background-image: -webkit-linear-gradient(top, rgba(226, 226, 226, .14) 0%, rgba(34, 34, 34, .2) 100%);
	background-image: -o-linear-gradient(top, rgba(226, 226, 226, .14) 0%, rgba(34, 34, 34, .2) 100%);
	background-image: -ms-linear-gradient(top, rgba(226, 226, 226, .14) 0%, rgba(34, 34, 34, .2) 100%);
	background-image: linear-gradient(top, rgba(226, 226, 226, .14) 0%, rgba(34, 34, 34, .2) 100%);
	text-decoration: none;
}
section {
	margin: auto;
	width: 80%;
	max-width: 950px;
}
#content {
	font-size: .8em;
	line-height: 1.75;
	background-color: #fefefe;
	padding-bottom: 3em;
}
#content a:visited { color: #7847b2; }
#content h2 { font-family: "Open Sans", Arial, sans-serif; }
#content h2:first-child { margin-top: 0; }
#content h4 {
	margin-bottom: 0;
	line-height: 1;
}
#content article { padding-top: 2em; }
#footer {
	border-top: thin solid #f5f5f5;
	background: #f9f9f9;
	color: #666;
	padding: 1em;
	font-size: .75em;
}
#footer article {
	float: left;
	margin-right: 3em;
}
#footer article ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#footer a { color: #666; }
#search {
	float: right;
	padding-top: 1em;
}
#q {
	background: #fff url(magnifier.gif) no-repeat 4px center;
	color: #666;
	border: 1px solid #999;
	text-indent: 24px;
}
#ql, #sa { display: none; }
#os {
	text-align: center;
	padding-top: 1em;
	font-size: .95em;
}
#copyright {
	font-size: .7em;
	background: #f5f5f5;
	padding: 1em;
	border-top: thin solid #ebebeb;
	color: #666;
}
@media print {
	section {
		max-width: none;
		width: 100%;
	}
	#top, #forkme, nav, #download-container, .download, #end { display: none; }
	#copyright { border: none; }
}
