html, body, nav ul, #top h1 {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
html {
	font-family: helvetica, Arial, sans-serif;
	color: #444;
	background-color: #fcfcfc;
}
img {
	border: none;
}
img::selection {
	background: transparent;
}
img::-moz-selection {
background: transparent;
}
a {
	color: #15c;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
pre, .Syntax {
	font-family: Consolas, Courier New, monospace;
	background-color: #FFFFFF; /*#F3F3FF*/
	border: solid 1px #E3E3EF;
}
.Syntax {
	background-color: #FFFFAA;
	border: solid 1px #E8E89A;
}
code, span.Syntax {
	font-family: Consolas, Courier New, monospace;
	background-color: #FFFFFF; /*#F3F3FF*/
	border-top: solid 1px #E3E3EF;
	border-bottom: solid 1px #E3E3EF;
	padding: 0 1px;
	white-space: nowrap;
}
pre {
	margin: 0.7em 1.5em 0.7em 1.5em;
	padding: 0.7em 0 0.7em 0.7em;
	white-space: pre-wrap; /* works in IE8 but apparently not CHM viewer */
	word-wrap: break-word; /* works in CHM viewer */
}
pre.Syntax {
	margin: 0 0 1.0em 0;
	padding: 12px 0 12px 4px;
	line-height: 150%;
}
pre, pre.Short /*used with .Syntax*/ {
	line-height: 120%;
}
pre em, code em {
	color: #800;
	font-style: normal;
}
::selection {
	color: #fff;
	background: #6c7a95;
}
::-moz-selection {
 color: #fff;
 background: #6c7a95;
}
.clear {
	clear: both;
}
#languages {
	float: right;
}
#top {
	padding-top: 10px;
	background: #fff;
}
#top h1 {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 3em;
	min-height: 75px;
}
#content h1 {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 2em;
}
#top h1 a {
	color: #999;
}
nav {
	font-family: "Open Sans", Arial, sans-serif;
	background: #6c7a95;
	background: -moz-linear-gradient(top, #6c7a95 0%, #515b70 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6c7a95), color-stop(100%, #515b70));
	background: -webkit-linear-gradient(top, #6c7a95 0%, #515b70 100%);
	background: -o-linear-gradient(top, #6c7a95 0%, #515b70 100%);
	background: -ms-linear-gradient(top, #6c7a95 0%, #515b70 100%);
	background: linear-gradient(top, #6c7a95 0%, #515b70 100%);
	font-weight: 400;
	line-height: 3;
	font-size: .95em;
	border-bottom: thin solid #fff;
}
nav ul li {
	display: inline;
	padding-right: 1.5em;
}
nav a {
	color: #fff;
	text-decoration: none;
}
nav a:hover {
	text-decoration: underline;
}
#download-container {
	float: right;
}
.download {
	font: 600 .85em "Open Sans", Arial, sans-serif;
	display: inline-block;
	background: #f68c06;
	border: solid thin #f68c06;
	text-shadow: rgba(0, 0, 0, .2) 0 -1px 0;
	color: #fff !important;
	border-radius: .2em;
	margin-left: 1em;
	padding: .45em 1em;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	background-image: -moz-linear-gradient(top, rgba(226, 226, 226, .1) 0%, rgba(34, 34, 34, .1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(226, 226, 226, .1)), color-stop(100%, rgba(34, 34, 34, .1)));
	background-image: -webkit-linear-gradient(top, rgba(226, 226, 226, .1) 0%, rgba(34, 34, 34, .1) 100%);
	background-image: -o-linear-gradient(top, rgba(226, 226, 226, .1) 0%, rgba(34, 34, 34, .1) 100%);
	background-image: -ms-linear-gradient(top, rgba(226, 226, 226, .1) 0%, rgba(34, 34, 34, .1) 100%);
	background-image: linear-gradient(top, rgba(226, 226, 226, .1) 0%, rgba(34, 34, 34, .1) 100%);
}
.download:hover {
	background-image: -moz-linear-gradient(top, rgba(226, 226, 226, .14) 0%, rgba(34, 34, 34, .2) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(226, 226, 226, .14)), color-stop(100%, rgba(34, 34, 34, .2)));
	background-image: -webkit-linear-gradient(top, rgba(226, 226, 226, .14) 0%, rgba(34, 34, 34, .2) 100%);
	background-image: -o-linear-gradient(top, rgba(226, 226, 226, .14) 0%, rgba(34, 34, 34, .2) 100%);
	background-image: -ms-linear-gradient(top, rgba(226, 226, 226, .14) 0%, rgba(34, 34, 34, .2) 100%);
	background-image: linear-gradient(top, rgba(226, 226, 226, .14) 0%, rgba(34, 34, 34, .2) 100%);
	text-decoration: none;
}
section {
	margin: auto;
	width: 80%;
	max-width: 950px;
}
#content {
	font-size: .875em;
	line-height: 1.75;
	background-color: #fefefe;
	padding-bottom: 3em;
}
#content a:visited {
	color: #7847b2;
}
#content h2 {
	font-family: "Open Sans", Arial, sans-serif;
}
#content h2:first-child {
	margin-top: 0;
}
#content h4 {
	margin-bottom: 0;
	line-height: 1;
}
#footer {
	border-top: thin solid #f5f5f5;
	background: #f9f9f9;
	color: #666;
	padding: 1em;
	font-size: .75em;
}
#helpbar {
	color: #666;
	padding: 1em;
	font-weight: 400;
	font-size: .875em;
	background: #f5f5f5;
	border-bottom: thin solid #ebebeb;
}
#helpbar a {
	color: #666;
}
#footer article {
	float: left;
	margin-right: 3em;
}
#footer article ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#footer a {
	color: #666;
}
#search {
	float: right;
	padding-top: 1em;
}
#q {
	background: #fff url(magnifier.gif) no-repeat 4px center;
	color: #666;
	border: 1px solid #999;
	text-indent: 24px;
}
#ql, #sa {
	display: none;
}
#os {
	text-align: center;
	padding-top: 1em;
	font-size: .95em;
}
#copyright {
	font-size: .7em;
	background: #f5f5f5;
	padding: 1em;
	border-top: thin solid #ebebeb;
	color: #666;
}
@media print {
section {
	max-width: none;
	width: 100%;
}
#top, nav, #download-container, .download, #end {
	display: none;
}
#copyright, #help {
	border: none;
}
}
/* table of command parameters */
table.info {
	border: solid 2px #FFFFFF;
	border-top: solid 1px #E0E0E0;
	border-bottom: solid 1px #E0E0E0;
	border-collapse: collapse;
	width: 100%;/*table-layout: fixed;*/
}
table.info td {
	border: solid 1px #E0E0E0;
	padding: 0.9em;
}
table.info th {
	background-color: #F6F6F6;
	border: solid 1px #E0E0E0;
	border-bottom: solid 1px #C0C0C0;
	padding: 0.3em;
}
/* version number/requirement tag */
h1 .ver, h2 .ver, h3 .ver {
	font-size: 65%;
	font-weight: normal;
	margin-left: 1em;
	vertical-align: text-middle;
}
h2 .ver {
	color: lightgray;
	font-size: 80%;
}
.ver, /* de-emphasized */ .dull {
	color: gray;
}
.red {
	color: red;
} /* used for highlight in various places */
.blue {
	color: blue;
}
/* emphasized note */
.note {
	border: 1px solid #99BB99;
	background-color: #E6FFE6;
	color: #005500;
	padding: 0 3px;
}
/* styles for briefly documenting multiple methods on one page: */
.methodShort {
	border: solid thin #C0C0C0;
	padding: 0.5em;
	margin-bottom: 1em;
}
.methodShort h2 {
	margin-top: 0;
}
.methodShort table.info {
	border: none;
}
.methodShort table.info td {
	border: none;
	vertical-align: text-top;
}
.methodShort:target { /* non-essential, but helpful if it works */
	border-color: black;
}
/* keys */
kbd {
	font-family: Consolas, Courier New, monospace;
	font-size: .75em;
	border: 1px solid;
	border-color: #E8E8E8 #C8C8C8 #C8C8C8 #E8E8E8; /*#DDD #BBB #BBB #DDD*/
	padding: 0 0.4em;
	background: #F8F8F8; /*EEE*/ /*white-space: nowrap;*/ /*will not work correctly, if used in chm (because of ie7 engine)*/
}
.anchorlink {
    color: inherit !important;
    text-decoration: none !important;
}

.anchorlink h1:hover:after,
            h2:hover:after,
            h3:hover:after,
            h4:hover:after,
            h5:hover:after,
            h6:hover:after {
  content: " \00B6";
  color: #888;
  font-size: smaller;
}
