.treeDiv
{
   font-family:verdana,arial,sans-serif;
   font-size:70.5%;
   font-weight:400;
   background-color:#F1F1F1; /* main background color */
   color:#000; /* text color */
   overflow:auto;
   margin:0;
}

.treeNode
{
   white-space:nowrap;
   text-indent:-14px;
   margin:5px 2px 5px 14px;
}

a.treeUnselected:hover,a.treeSelected:hover
{
   border-top:1px solid #999;
   border-right:1px solid #999;
   border-left:1px solid #999;
   border-bottom:1px solid #999;
   background-color:#CCC; /* Rollover color */
   color:#000; /* Rollover text color */
   text-decoration:none;
}

a.treeUnselected,a.treeSelected
{
   color:#000;
   padding:1px 3px;
   text-decoration:none;
}

a.treeSelected
{
   background-color:#FFF; /* Node selection color */
   border-top:1px solid #999;
   border-right:1px solid #999;
   border-left:1px solid #999;
   border-bottom:1px solid #999;
   color:#000; /* selected text color */
}

a.treeUnselected
{
   border-top:solid 1px transparent; /* Non Select color - Should match background color */
   border-right:solid 1px transparent;
   border-left:solid 1px transparent;
   border-bottom:solid 1px transparent;
   background-color:transparent;
   color:#000; /* text color */
}

.treeSubnodes
{
   display:block;
}

.treeSubnodesHidden
{
   display:none;
}

.treeNode img.treeNoLinkImage,.treeNode img.treeLinkImage
{
   width:9px; /* Icon size in pixels*/
   height:9px;
   margin-left:5px;
   margin-right:0;
}

.treeNode img.treeLinkImage
{
   cursor:pointer;
}

/* Buttons werden im IE zu klein dargestellt,
falls ein benutzerdefiniertes Windows-Theme verwendet wird */
input
{
   font-size:10pt;
}